#pragma once

// WiFi
static const char* WIFI_SSID     = "...";
static const char* WIFI_USERNAME = "...";
static const char* WIFI_PASSWORD = "...";

// API
static const char* API_URL   = "...";
static const char* API_TOKEN = "...";

// PEAP certs if needed (uncomment CA_PEM)
static const unsigned char CA_PEM[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
)EOF";

static const char ISRG_Root_X1[] PROGMEM = R"EOF(
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
)EOF";